In [12]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/weight-height.csv')
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

Outlier detection and removal using Z Score

In [14]:
df['zscore'] = ( df.Height - df.Height.mean() ) / df.Height.std()
df

      Gender     Height      Weight    zscore
0       Male  73.847017  241.893563  1.943964
1       Male  68.781904  162.310473  0.627505
2       Male  74.110105  212.740856  2.012343
3       Male  71.730978  220.042470  1.393991
4       Male  69.881796  206.349801  0.913375
...      ...        ...         ...       ...
9995  Female  66.172652  136.777454 -0.050658
9996  Female  67.067155  170.867906  0.181830
9997  Female  63.867992  128.475319 -0.649655
9998  Female  69.034243  163.852461  0.693090
9999  Female  61.944246  113.649103 -1.149651

[10000 rows x 4 columns]

In [15]:
df[df['zscore']>3]

     Gender     Height      Weight    zscore
994    Male  78.095867  255.690835  3.048271
1317   Male  78.462053  227.342565  3.143445
2014   Male  78.998742  269.989699  3.282934
3285   Male  78.528210  253.889004  3.160640
3757   Male  78.621374  245.733783  3.184854

In [16]:
df[df['zscore']<-3]

      Gender     Height     Weight    zscore
6624  Female  54.616858  71.393749 -3.054091
9285  Female  54.263133  64.700127 -3.146027

In [17]:
#list of the outlier
df[(df.zscore<-3) | (df.zscore>3)]

      Gender     Height      Weight    zscore
994     Male  78.095867  255.690835  3.048271
1317    Male  78.462053  227.342565  3.143445
2014    Male  78.998742  269.989699  3.282934
3285    Male  78.528210  253.889004  3.160640
3757    Male  78.621374  245.733783  3.184854
6624  Female  54.616858   71.393749 -3.054091
9285  Female  54.263133   64.700127 -3.146027

In [19]:
df.zscore

0       1.943964
1       0.627505
2       2.012343
3       1.393991
4       0.913375
          ...
9995   -0.050658
9996    0.181830
9997   -0.649655
9998    0.693090
9999   -1.149651
Name: zscore, Length: 10000, dtype: float64

In [18]:
df_no_outliers = df[(df.zscore>-3) & (df.zscore<3)]
df_no_outliers

      Gender     Height      Weight    zscore
0       Male  73.847017  241.893563  1.943964
1       Male  68.781904  162.310473  0.627505
2       Male  74.110105  212.740856  2.012343
3       Male  71.730978  220.042470  1.393991
4       Male  69.881796  206.349801  0.913375
...      ...        ...         ...       ...
9995  Female  66.172652  136.777454 -0.050658
9996  Female  67.067155  170.867906  0.181830
9997  Female  63.867992  128.475319 -0.649655
9998  Female  69.034243  163.852461  0.693090
9999  Female  61.944246  113.649103 -1.149651

[9993 rows x 4 columns]

In [20]:
df_no_outliers.shape

(9993, 4)